#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Num";
// ----------------------------------------------
// |      layer1      |        Layer2       |      Layer3      |      layer4      |        Layer5       |
// |      Enter       |        7            |      8           |      9           |        /            |
// |      Shift       |        4            |      5           |      6           |        *            |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
            bindings = <
                &tog 0  &tog 1  &tog 2  &tog 3  &tog 4
                &kp ENT &kp 7   &kp 8   &kp 9   &kp SLASH
                &kp SHIFT   &kp 4   &kp 5   &kp 6   &kp ASTERISK
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
            >;
        };
        layer2 { // Layer 2
            display-name = "Code";
// ----------------------------------------------
// |      layer1      |        Layer2       |      Layer3      |      layer4      |        Layer5       |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
            bindings = <
                &tog 0  &tog 1  &tog 2  &tog 3  &tog 4
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
            >;
        };
        layer3 { // Layer 3
            display-name = "Code";
// ----------------------------------------------
// |      layer1      |        Layer2       |      Layer3      |      layer4      |        Layer5       |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
            bindings = <
                &tog 0  &tog 1  &tog 2  &tog 3  &tog 4
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
            >;
        };

        layer4 { // Layer 4
            display-name = "Code";
// ----------------------------------------------
// |      layer1      |        Layer2       |      Layer3      |      layer4      |        Layer5       |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
            bindings = <
                &tog 0  &tog 1  &tog 2  &tog 3  &tog 4
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
            >;
        };

        layer5 { // Layer 5
            display-name = "Code";
// ----------------------------------------------
// |      layer1      |        Layer2       |      Layer3      |      layer4      |        Layer5       |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
// |      none        |        none         |      none        |      none        |        none         |
            bindings = <
                &tog 0  &tog 1  &tog 2  &tog 3  &tog 4
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none
            >;
        };
    };
};
